html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ec7f94;
    color: white;
}

.logo {
    margin-left: 10px;
}

.menu {
    margin-right: 10px;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 13px;
    padding-right: 10px;
}

.site-content {
    margin: 10px;
    min-height: 85vh;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ec7f94;
    color: white;
}